@import url('https://fonts.googleapis.com/css?family=Irish+Grover'); 
h1{ font-family: 'Irish Grover', sans-serif; text-align: center; }

.cabecalho{
    display:flex ;
}
.titulo{
    background: #705692;
}
.conteudo{
    text-align: center;
    padding-inline: 10%;
    font-size: x-large ;
    color: #BA35BD;
    font-family: 'Irish Grover', sans-serif;
}
.simbolo{
    text-align: center;
    padding: 30%;
}